body {
    background-color: #35374B;
    color: #78A083;
    font-family: Verdana;
    font-size: 2vh;
    width: 60vw;
    height: 100vh;
    margin: auto;
  }
  
  h1, p{
    text-align: center;
    margin: 1em auto;
    width: 80vw;
    margin-left: -8vw;
  }
  
  h1 {
    padding-top: 5vh;
  }

  #description {
    font-style: italic;
  }
  
  form {
    margin: auto;
    width: 70vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    margin-left:-4vw;
  }
  
  fieldset {
    border: none;
    padding: 4vh 0;
    padding-top: 2vh;
    border-bottom: 0.5vh dashed #50727B;
    margin-bottom: 3vh;
  }
  
  label {
    display: block;
    margin: 1vh 0;
  }
  
  input, textarea, select {
    margin: auto;
    background-color: #aecab6;
    width: 100%;
    margin-top: 0.6em;
    font-size: 2vh;
    color: #344955;
  }
  
  input {
    border: none;
    min-height: 3.5vh;
  }
  
  select {
    height: 3.5vh;
    border: none;
    width: 100.5%;
  }
  
  .inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
  }
  
  #otros-cuidados {
    margin-top: 3vh;
  }

  #pregunta-otros-cuidados {
    margin-top: -1.8vh;
  }
  
  input[type="submit"] {
    display: block;
    width: 40%;
    height: 5vh;
    margin-top: 5vh;
  }
  
  footer {
    padding-bottom: 10vh;
    font-style: italic;
  }
  
  input[type="submit"]:hover {
    background-color: #344955;
    color: white;
  }
  
  input[type="submit"]:active {
    background-color: black;
  }
  
  input[type="submit"]:visited {
    background-color: #9AD0C2;
  }